---
name: Sync Labels

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "34 5 * * *"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  workflows:
    uses: casse-boubou/ha-addon-workflows/.github/workflows/labels.yaml@main
